@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

//Variables
$main-bg-color: hsl(222, 87%, 97%);
$text-color: hsl(225, 20%, 60%);
$slider-color: hsl(174, 77%, 80%);
$empty-slider-color: hsl(224, 65%, 95%);
$slider-icon-bg: hsl(174, 86%, 45%);
$trial-button-bg-color: hsl(227, 35%, 25%);
$button-text-color: hsl(226, 100%, 87%);
$discount-text-color: hsl(15, 100%, 70%);
$discount-BG: hsl(14, 92%, 95%);
$switch-bg-color: hsl(223, 50%, 87%);

@mixin Flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Manrope, Arial, Helvetica, sans-serif;


    //Background properties
    background-image: url(../assets/images/pattern-circles.svg), url(../assets/images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-position: top 15% center, top;

}

//Applying flexbox on root element for
#root {
    min-height: 100vh;
    @include Flex(column);
}

main {
    max-width: 23rem;
    @include Flex(column);
    flex: 1;
}

//Subscription Styling Section
.subscription-container {
    margin-bottom: 4em;

}

.title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.sign-up-text {
    text-align: center;
    font-weight: 700;
    font-size: 0.875rem;
    color: $text-color;
}

//===================//

.pricing-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 12px 12px hsl(0, 0%, 92%);
}

.page-views-text {
    font-weight: 700;
    font-size: 0.825rem;
    text-transform: uppercase;
    color: $text-color;
    margin-block: 2em;
}

.price-text {
    font-size: 2rem;
    font-weight: 800;
    margin-block: 0.7em;
    @include Flex(row);
    gap: 0.2em;

    span {
        font-size: 0.875rem;
        font-weight: 700;
        color: $text-color;
    }
}

//=========================//

//Slider Styling Section
.sliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 300px;
    height: 20px;
}

.sliderTrack {
    background-color: $empty-slider-color;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 7px;
}

.sliderRange {
    position: absolute;
    background-color: $slider-color;
    border-radius: 9999px;
    height: 100%;
}

.sliderRange[data-disabled] {
    background-color: lightgray;
}


.thumbSlider {
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    background-color: $slider-icon-bg;
    box-shadow: 0 4px 15px $slider-icon-bg;
    border-radius: 50%;
}

.thumbSlider:hover,
.thumbSlider:focus {
    outline: none;
    cursor: pointer;

}

.thumbSlider[data-disabled] {
    background-color: hsl(0, 0%, 47%);
    cursor: not-allowed;
    box-shadow: none;
}


//======================//

//Form Styling Section
.form {
    @include Flex(column);
    border-bottom: 1px solid hsl(0, 0%, 90%);
    text-align: center;
    padding: 1em;
}

.billing-filedset {
    padding: 0;
    margin-bottom: 2em;
    border: none;
}

.price-toggle {
    @include Flex(row);
}

.billing-label {
    color: $text-color;
    font-weight: 600;
    font-size: 0.875rem;
}

.discount-span {
    position: relative; //Position used for ::after pseudo on desktop
    background-color: $discount-BG;
    border-radius: 16px;
    padding: 0.2em;
    padding-inline: 0.5em;
    margin-left: 0.4em;
  
}

.discount-text {
    color: $discount-text-color;
    font-weight: 700;
    font-size: 0.75rem;
}

//Legend visuals hidden
.visually-hidden {
    position: absolute;
    clip-path: (0 0 0 0);
    width: 1px;
    height: 1px;
    white-space: none;
    overflow: hidden;
}

//Toggle Switcher Styling
.toggle-wrapper {
    position: relative;
    @include Flex(row);
    margin-inline: 0.5em;
}

.billing-radio {
    display: inline-block;
    position: relative;

}

.toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $switch-bg-color;
    width: 40px;
    height: 20px;
    border-radius: 32px;
    opacity: 0.9; //Testing
}

.toggle::after {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+.toggle {
    background: $slider-color;
}

input:checked+.toggle:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.billing-label:hover {
    cursor: pointer;
    color: #000;
}


//Trial Styling Section
.trial-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list {
    background-image: url(../assets/images/icon-check.svg);
    background-repeat: no-repeat;
    color: $text-color;
    font-weight: 600;
    font-size: 0.875rem;
}

.list:not(.list1) {
    margin-top: 0.4em;
}

.list1 {
    background-position: left 22% center;
    margin-top: 1em;
}

.list2 {
    background-position: left 20% center;
}

.list3 {
    background-position: left 30% center;
}

.trial-button {
    border: none;
    background-color: $trial-button-bg-color;
    color: $button-text-color;
    padding: 0.6em;
    padding-inline: 2.5em;
    border-radius: 24px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    transition: color 0.2s;
    margin-left: calc(332px / 4);
}

.trial-button:hover {
    cursor: pointer;
    color: white;
}

//Footer
.attribution {
    text-align: center;
    font-size: 0.75rem;
    padding: 0.6em;
    text-wrap: balance;

    display: block;
    width: 100%;
    background-color: $main-bg-color;

    a {
        color: hsl(214, 100%, 58%);
        text-decoration: none;
    }
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
}

@media (min-width: 48rem) {

    body {
        background-position: top 20% center, top;
        background-size: auto, contain;
    }

    main {
        max-width: 50rem;
    }

    .sign-up-desktop-row {
        @include Flex(row);
    }

    .pricing-container {
        display: grid;
        place-content: center;
        align-items: center;
        padding: 1em;
        gap: 1em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "form form"
            "lists button";
    }


    .form {
        grid-area: form;
        padding: 0; //Removing padding on Desktop for pricing container control it with Grid
        //===============//
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        grid-template-areas:
            "pages . price"
            "slider slider slider"
            "billing billing billing";
    }

    .discount-text::after {
        content: 'discount';
        position: relative;
        left: 3px;
    }

    .sliderRoot {
        grid-area: slider;
        margin: auto;
        width: 400px;
        margin-block: 1em;
    }

    .billing-filedset {
        grid-area: billing;
        margin-top: 1em;
    }

    .trial-list {
        grid-area: lists;
        padding-left: 0.5em;
        padding-bottom: 1.5em;
        text-align: left;
    }

    .list {
        padding-inline: 1em;

    }

    .list1 {
        margin-top: 0;
    }

    .list1,
    .list2,
    .list3 {
        background-position: left;
    }

    .trial-button {
        grid-area: button;
        transform: translateX(0);
        margin-block: 0;
        margin-left: 0;
    }

    .price-text {
        margin: 0;
        grid-area: price;
    }

    .page-views-text {
        margin: 0;
        grid-area: pages;
    }

}