@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  background-image: url(../assets/images/pattern-circles.svg), url(../assets/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position: top 10% center, top;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.subscription-container {
  margin-bottom: 4em;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.sign-up-text {
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  color: hsl(225, 20%, 60%);
}

.pricing-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 12px 12px hsla(0, 0%, 40%, 0.153);
}

.page-views-text {
  font-weight: 700;
  font-size: 0.825rem;
  text-transform: uppercase;
  color: hsl(225, 20%, 60%);
  margin-block: 2em;
}

.price-text {
  font-size: 2rem;
  font-weight: 800;
  margin-block: 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.price-text span {
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(225, 20%, 60%);
}

.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: none;
  width: 300px;
  height: 20px;
}

.sliderTrack {
  background-color: hsl(224, 65%, 95%);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 7px;
}

.sliderRange {
  position: absolute;
  background-color: hsl(174, 77%, 80%);
  border-radius: 9999px;
  height: 100%;
}

.sliderRange[data-disabled] {
  background-color: lightgray;
}

.thumbSlider {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  background-color: hsl(174, 86%, 45%);
  box-shadow: 0 4px 15px hsl(174, 86%, 45%);
  border-radius: 50%;
}

.thumbSlider:hover,
.thumbSlider:focus {
  outline: none;
  cursor: pointer;
}

.thumbSlider[data-disabled] {
  background-color: hsl(0, 0%, 47%);
  cursor: not-allowed;
  box-shadow: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  text-align: center;
  padding: 1em;
}

.billing-filedset {
  padding: 0;
  margin-bottom: 2em;
  border: none;
}

.price-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.billing-label {
  color: hsl(225, 20%, 60%);
  font-weight: 600;
  font-size: 0.875rem;
}

.discount-span {
  position: relative;
  background-color: hsl(14, 92%, 95%);
  border-radius: 16px;
  padding: 0.2em;
  padding-inline: 0.5em;
  margin-left: 0.4em;
}

.discount-text {
  color: hsl(15, 100%, 70%);
  font-weight: 700;
  font-size: 0.75rem;
}

.visually-hidden {
  position: absolute;
  -webkit-clip-path: 0 0 0 0;
          clip-path: 0 0 0 0;
  width: 1px;
  height: 1px;
  white-space: none;
  overflow: hidden;
}

.toggle-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: 0.5em;
}

.billing-radio {
  position: relative;
  opacity: 0;
}

.toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  background-color: hsl(223, 50%, 87%);
  width: 40px;
  height: 20px;
  border-radius: 32px;
}

.toggle::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .toggle {
  background: hsl(174, 77%, 80%);
}

input:checked + .toggle:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.toggle:hover,
.toggle:focus {
  background-color: hsl(174, 77%, 80%);
}

.billing-label:hover {
  cursor: pointer;
  color: #000;
}

.trial-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.list {
  background-image: url(../assets/images/icon-check.svg);
  background-repeat: no-repeat;
  color: hsl(225, 20%, 60%);
  font-weight: 600;
  font-size: 0.875rem;
}

.list:not(.list1) {
  margin-top: 0.4em;
}

.list1 {
  background-position: left 22% center;
  margin-top: 1em;
}

.list2 {
  background-position: left 20% center;
}

.list3 {
  background-position: left 30% center;
}

.trial-button {
  border: none;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  padding: 0.6em;
  padding-inline: 2.5em;
  border-radius: 24px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  transition: color 0.2s;
  margin-left: 83px;
}

.trial-button:hover {
  cursor: pointer;
  color: white;
}

.attribution {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.6em;
  text-wrap: balance;
  display: block;
  width: 100%;
  background-color: hsl(222, 87%, 97%);
}
.attribution a {
  color: hsl(214, 100%, 58%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
}

@media (min-width: 48rem) {
  body {
    background-position: top 20% center, top;
    background-size: auto, contain;
  }
  main {
    max-width: 50rem;
  }
  .sign-up-desktop-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pricing-container {
    min-width: 36rem;
    display: grid;
    place-content: center;
    align-items: center;
    padding: 1em;
    gap: 1.5em;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "form form" "lists button";
  }
  .form {
    grid-area: form;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-template-areas: "pages . price" "slider slider slider" "billing billing billing";
  }
  .discount-text::after {
    content: "discount";
    position: relative;
    left: 3px;
  }
  .sliderRoot {
    grid-area: slider;
    margin: auto;
    width: 400px;
    margin-block: 1em;
  }
  .billing-filedset {
    grid-area: billing;
    margin-top: 1em;
  }
  .trial-list {
    grid-area: lists;
    padding-left: 0.5em;
    padding-bottom: 1.5em;
    text-align: left;
  }
  .list {
    padding-inline: 1em;
  }
  .list1 {
    margin-top: 0;
  }
  .list1,
  .list2,
  .list3 {
    background-position: left;
  }
  .trial-button {
    grid-area: button;
    transform: translateX(0);
    margin-block: 0;
    margin-left: 0;
  }
  .price-text {
    margin: 0;
    grid-area: price;
  }
  .page-views-text {
    margin: 0;
    grid-area: pages;
  }
}/*# sourceMappingURL=style.css.map */